{% extends "layout.html" %}
{% block body %}
	
	<div class="centered-wrapper">		
		<section>
			<div class="jumbotron" style="background: url('/static/img/404.png') repeat scroll 0 0 transparent;">
			<br/><br/><br/>
			<h1 style="color:white;">401</h1>
			<p style="color:white;">不可认证用户<br>请访问其他页面</p>
			<br/><br/>
			</div>
		</section>
	</div><!--end centered-wrapper-->
	
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
{% endblock %}