{% extends "layout.html" %}
{% block body %}
		<section class="page-title">
			<div class="double-separator"></div>
			<div class="breadcrumbs">
				<div class="one-half alignleft">
					<ol class="breadcrumb">
					  <li><a href="{{ url_for('index') }}">首页</a></li>
					  <li class="active">关于我</li>
					</ol>
				</div>
				
				<div class="one-half column-last alignright">
					
				</div>
			</div><!--end breadcrumbs-->
			<div class="double-separator"></div>
		</section>
			
	<div class="centered-wrapper">		
		<section>
			<div class="well well-lg">暂时什么都没有写</div>	
		</section>
	</div><!--end centered-wrapper-->
	
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
{% endblock %}