{% extends "layout.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="bs-example">
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div>
    </div><!-- /example -->
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if error %}
<ul class=flashes>
<div class="bs-example">
  <div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ error }}
  </div>
</div><!-- /example -->
</ul>
{% endif %}
	
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <div class="jumbotron">
          <br /><br /><br /><br /><br />
          </div>
        </div><!--/span-->

    </div><!--/.container-->

</body>
{% endblock %}