<!DOCTYPE html>
<html>
<head>
    <title>ephem</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<!-- Bootstrap styles -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Generic page styles -->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
	<!-- blueimp Gallery styles -->
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}" rel="stylesheet" media="screen">
	<!-- CSS adjustments for browsers with JavaScript disabled -->
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<style>
	body {
  		background: url("/static/img/body-bg.gif") repeat scroll 0 0 transparent;
  		font-family: "Microsoft YaHei";
		}
	.jumbotron {
		background: url("/static/img/psychadelic_paper_2.jpg") repeat scroll 0 0 transparent;
	}
	.navbar {
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
	}
	</style>
</head>
{% block body %}{% endblock %}
</html>